#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 4px solid #cdc197;

    .logo {
        color: #444644;
        font-weight: 700;
        font-style: italic;
        font-size: 30px;
        text-shadow: 2px 2px #cdc197;
        text-decoration: none;
    }

    nav {
        display: flex;

        a {
            color: #444644;
            margin: 0 20px;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;

            &.active {
                color: #a88300;
            }
        }
    }

    .user {
        font-size: 22px;
        border: none;
        outline: none;
        background: unset;
        color: #a88300;
        cursor: pointer;
    }
}