.read {
    width: 1000px;
    margin: 40px auto;

    #search {
        padding: 8px;
    }
    h1 {
        margin-top: 40px;
    }

    &>a {
        display: block;
        width: fit-content;
        text-decoration: none;
        margin-bottom: 20px;
        padding: 4px 20px;
        background: $primary-color;
        color: $white-color;
        font-size: 24px;
        font-weight: bold;
        border-radius: 4px;
        border: 2px solid $black-color;
    }

    table {
        margin-top: 40px;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 2px solid $black-color;
        text-align: left;
        padding: 10px;
    }

    td i:hover {
        opacity: .8;
        transition: .5s;
        cursor: pointer;
    }

    td i.btn-edit {
        color: $black-color;
    }

    tbody tr:nth-child(odd) i.btn-edit {
        color: $white-color;
    }

    tbody tr:nth-child(odd) {
        background: $primary-color;
        color: $white-color;
    }

    tbody tr:nth-child(even) {
        background: $second-color;
        color: $black-color;
    }

    tbody tr td i.btn-edit:hover {
        color: orange;
    }

    tbody tr td i.btn-delete:hover {
        color: red;
    }

    td[colSpan] {
        text-align: center;
    }

    td img {
        display: block;
        width: auto;
        height: 80px;
        object-fit: cover;
        border: 2px solid $black-color;
    }
}