.movies-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    .item-wrapper {
        flex: 25%;
        max-width: 25%;

        .item {
            margin: 16px 10px;
            border: 1px solid #dedede;

            img {
                display: block;
                width: 100%;
                height: 260px;
                object-position: center;
                object-fit: cover;
            }

            .title {
                font-weight: bold;
                text-transform: uppercase;
                margin: 10px 16px;
                text-align: center;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }

            .desc {
                text-align: center;
                font-size: 12px;
                line-height: 10x;
                margin: 10px;

                span {
                    color: #777;
                    font-size: 14px;
                    margin: 0 2px;
                }
                button {
                    cursor: pointer;
                    text-align: center;
                    font-weight: $font-weight-bold;
                    font-size: $small-text;
                    padding: 5px 0;
                    border-radius: $border-small-radius ;
                    border: 1px solid $second-color;
                    background: $second-color;
                    color: $white-color;
                    
                }
            }

            &:hover .coating {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, .6);
            }
        }

        .img {
            position: relative;

            .coating {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;

                .feature {
                    width: 80%;
                    padding: 8px 16px;
                    margin: 6px;
                    border: 1px solid wheat;
                    text-align: center;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: wheat;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
        }
        .detail-footer {
            margin-top: $medium-space;
            text-align: center;
        }
    }
}